* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Times New Roman", Times, serif;
}

.blueBackground, .blueBackground a {
    background-color: #065d7f;
    color: #ffffff;
}

.whiteBackground, .whiteBackground a {
    background-color: #ffffff;
    color: #065d7f;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navigation {
    width: 250px;
    position: fixed;
    background: #043347;
    height: 100%;
}

.navigation h2 {
    border-right: 1px solid #000;
}

.content {
    width: 100%;
    margin-left: 250px;
}

.centeredContent {
    width: 600px;
    margin: 0 auto;
    padding: 1em;
}

.centeredContent h2 {
    background-color: #fff;
    padding-left: 0;
}

.centeredContent div > * {
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.6em;
    padding-left: 1rem;
    font-weight: 600;
    background-color: #aab6be;
}

li {
    padding-left: 1rem;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    border-bottom: 1px solid #fff;
}

.navigation ul li:last-child {
    border-bottom: 0px solid #fff;
}

a {
    text-decoration: none;
}

video {
    max-width: 100%;
}

.toggleMenu {
    display: none;
}

@media screen and (max-width: 879px) {

    .navigation {
        width: 100%;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.hamburger {
        display: block;
    }

    .toggleMenu {
        display: block;
        padding: 0.25em 0.5em 0.35em 0.5em;
    }

    .toggleMenu a {
        color: black;
    }

    .navigation h2 {
        display: none;
    }
    
    .content {
        margin-left: 0;
    }

    .content > h2 {
        padding-left: 2rem;
    }

}